* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../eduford_img/eduford_img/banner.png);
  background-size: cover;
  position: relative;
  background-position: center;
}
img {
  width: 100px;
  margin: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  margin-top: 20px;
  flex: 1;
  text-align: right;
  position: relative;
  margin-right: 30px;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  cursor: pointer;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.nav-links ul li::after {
  height: 2px;
  width: 0%;
  background: #f44336;
  content: "";
  display: block;
}
.nav-links ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.text-box a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 2px;
  font-weight: 400;
}
.text-box a:hover {
  border: none;
  background: #f44336;
  transition: 0.5s;
}
nav .fa-solid {
  display: none;
}
.nav-links ul a {
  cursor: pointer;
}
.course {
  padding-top: 50px;
  text-align: center;
  margin: 20px 20px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
.course p {
  font-size: 14px;
  color: #777;
  padding: 10px;
  font-weight: 300;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-direction: row;
}
.course-col {
  flex-basis: 31%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #fff3f3;
  flex-wrap: wrap;
  margin-bottom: 20px;
  transition: 0.5s ease-in-out;
}
.course-col p {
  margin-bottom: 5px;
}
.course-col h3 {
  font-weight: 600;
  text-align: center;
}
.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(104, 104, 104, 0.2);
}

/* Campus Section */

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
}
.campus h3,
.facility h1 {
  padding-bottom: 10px;
  font-weight: 600;
}
.campus p {
  font-size: 14px;
  font-weight: 300;
}

.campus-col img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.campus-col {
  margin-left: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.campus-col .layer {
  display: none;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.campus-col:hover .layer {
  background: #1e1e1e7e;
  display: flex;
  color: white;
}
.layer h3 {
  position: absolute;
  top: 80%;
  left: 20%;
  opacity: 0;
  transition: ease 0.5s;
}
.layer:hover h3 {
  top: 50%;
  opacity: 1;
}
.campus {
  margin: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facility {
  text-align: center;
  margin-top: 100px;
  margin: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facility h1 {
  font-weight: 600;
}

.facility .row3 {
  display: flex;
  justify-content: space-around;
}

.facility-column {
  flex-basis: 31%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 30px 30px;
  margin-right: 10px;
}
.facility-column p {
  font-weight: 400;
  font-size: 400;
  text-align: left;
}
.facility-column img {
  width: 100%;
  border-radius: 10px;
}
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.testimonials p {
  font-weight: 400;
  color: #777;
  font-size: 14px;
  margin-bottom: 100px;
}
.row4 {
  display: flex;
  flex-direction: row;
}
.testimonial-col {
  display: flex;
  flex-basis: 40%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 20px;
  background: #fff3f3;
  text-align: left;
  margin-right: 20px;
}
.testimonial-col p {
  display: inline-block;
  margin-bottom: 10px;
}
.testimonial-col h3 {
  margin-top: 10px;
  display: block;
}
.testimonial-col img {
  width: 50px;
  border-radius: 50%;
  margin-right: 25px;
  height: 50px;
}
.testimonial-col .fa-solid,
.fa-regular {
  font-size: 14px;
  color: #f44336;
}
.cta {
  width: 80%;
  margin: auto;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../eduford_img/eduford_img/banner2.jpg);
  padding: 200px 0;
  position: relative;
  margin-bottom: 50px;
}
.cta img {
  width: 100%;
  background-position: center;
  background-size: cover;
}
.cta h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cta a {
  position: absolute;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cta a:hover {
  background-color: #f44336;
}
.sub-header {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../eduford_img/eduford_img/background.jpg);
  background-position: center;
  background-size: cover;
}
.sub-header h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 36px;
  font-weight: 600;
}
.aboutUs .row {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.about-col {
  flex-basis: 40%;
  padding: 30px 2px;
  text-align: left;
}
.about-col h1 {
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}
.about-col p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
}
.about-col img {
  width: 100%;
  border-radius: 10px;
}
.about-btn {
  padding: 10px 20px;
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 14px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 2px;
  font-weight: 400;
  background: transparent;
  display: inline-block;
  margin-top: 10px;
  transition: 0.5s;
}
.about-btn:hover {
  background: #f44336;
  color: white;
}
/* Media Queries */
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 32px;
  }
  .text-box p {
    font-size: 13px;
    font-weight: 300;
  }

  .nav-links ul li {
    display: block;
  }
  .nav-links {
    display: none;
    background-color: #f44336;
    height: 100vh;
    z-index: 100;
    text-align: left;
    margin-right: 0px;
    margin-top: 0px;
    flex: none;
  }
  nav .fa-solid {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 22px;
  }
  .nav-links ul {
    padding: 15px;
  }
  .nav-links ul li {
    padding-top: 10px;
  }
  .close-icon {
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .bar-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  .course h1 {
    font-size: 24px;
  }
  .course p {
    font-size: 12px;
  }
  .row {
    flex-direction: column;
  }
  .campus-col {
    width: 60%;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
  }
  .facility .row3 {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
  }
  .testimonial-col {
    flex-basis: 100%;
  }
  .row4 {
    flex-direction: column;
  }
  .cta h1 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    padding: 0;
  }
  .cta a {
    margin-top: 5px;
    font-size: 12px;
  }
  .about-btn {
    margin-top: 20px;
    margin-left: 30px;
  }
}
